<div class="container">
    <div class="about-left box">
        <h1 class="title">Um pouco sobre mim</h1>
        <p class="text">
            Me chamo Alexandre, atualmente tenho 22 anos🎉, estudo e trabalho na área de tecnologia voltado para o
            Front-End, pois foi o segmento que escolhi para minha carreira profissional desde que compreendi a separação
            dessas áreas.👨‍💻
        </p>
        <p class="text">
            Tenho uma grande facilidade com o desenvolvimento de telas e comunicação visual com o usuário. Sou um
            estusiasta na area de Design, possuo um curso de Design Ui/Ux que fiz ao longo do meu curso técnico em
            Desenvolvimento de Sistemas na Etec de Guaianazes.🎨
        </p>
        <p class="text">
            Abaixo você pode conferir mais sobre minha trajetória profissional e alguns dos meus projetos que realizei
            ao longo dessa jornada.
        </p>
        <p class="text">
            Obrigado pela atenção, aproveite 😊
        </p>
    </div>
    <div class="about-right box">
        <div class="wrapper-img">
            <img src="https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_square.jpg" alt="Sobre mim">
        </div>
    </div>
</div>