.content {
    width: 70%;
    margin: 0 auto;
    transition: 0.3s;
    flex-direction: column;
    display: flex;
}

@media screen and (max-width: 1000px) {
    .content {
        width: 80%;
    }
}